@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* shared style */
.font{
    font-family: "Quicksand", serif;
}

.ptext{
    font-size: 1.25rem;
}
.text{
    font-size: 1rem;
    color: rgb(128, 128, 128);
    font-weight: 500;
}

.cmn_btn{
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.25rem 5rem;
    border: none;
    border-radius: 12px;
}
.cmn_btn:hover{
    background-color: orange;
}
.sect_title{
    color: rgb(0, 0, 0);
    font-size: 2.875rem;
    font-weight: 700;
    /* margin-top: 60px; */
}
.box_title{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
}
.grn_button{
    position:absolute;
    border-radius: 48px;
    background: rgb(149, 178, 38);
    border: none;
    padding: 12px 15px;
    margin-top: -1.55rem;
    margin-left: 3.75rem;
    color: white;
}


/* nav style */
 nav{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
 }
.school_logo{
   
    display: flex;
}
.school_logo img{
    width: 100%;
}
#school_logo_text{
    margin: 16px 20px ;
    font-size: 2rem;
}
.menu ul{
    display: flex;
    gap: 2rem;
}
.menu ul li{
    list-style: none;
    
}
.menu ul li a{
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
}
#home a{
    color: rgb(254, 163, 1);
}
#about a{
    color: rgb(1, 172, 253);
}
#facilities a{
    color: rgb(5, 212, 223);
}
#admission a{
    color: rgb(93, 88, 239);
}
.contact{
    display: flex;
}
.cnt_btn{
    border: none;
    background: rgb(254, 163, 1);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 50px;
}
.cnt_btn:hover{
    background-color: rgb(1, 172, 253);
}
.ham_menu img{
    width: 40px;
    height: 40px;
    display: none;
}
.marquee{
    margin: 0 auto;
    max-width: 1200px;
    background: #E8BF60;
    background: linear-gradient(270deg, #E8BF60, #E5B560);
}
/* banner style */

.banner{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.banner_text{
    max-width: 640px;
}
.banner_text h1{
    font-size: 3.5rem;
    font-weight: 700;  
}

.banner_img img{
    width: 100%;
}
/* currriculam style */

.currriculam{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
.curriculum_details{
    max-width: 1200px;
    display: flex;
    gap: 20px;
    
}
.cur_box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    max-width: 32%;
}
.cur_box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    max-width: 32%;
}
.cur_box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    max-width: 32%;
}
#btn1{
    margin: 30px 0px;
    color: rgb(100, 200, 255);
    font-size: 1rem;
    font-weight: 700;
    border: none;
}
#btn2{
    margin: 30px 0px;
    color: rgb(240, 170, 0);
    font-size: 1rem;
    font-weight: 700;
    border: none;
}
#btn3{
    margin: 30px 0px;
    color: rgb(135, 0, 255);
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.arrow_sign{
    margin-top: 80px;
    display: flex;
    gap: 10px;
}
.arrow_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 30px;

}
.arrow_left:hover{
    background-color: rgb(1, 172, 253);
}
.arrow_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.arrow_right:hover{
    background-color: rgb(1, 172, 253);
}
.arrow_right a{
    color: white;
}
.arrow_left a{
    color: white;
}
/* stories style */

.stories{
    max-width: 1440px;
    margin: 0 auto;
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stories>button{
    margin: 0 auto;
    margin-bottom: 60px;
}
.imgbox_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}
.stories h3{
    text-align: center;
    padding-top: 60px;
}
.bigbox{
    max-width: 45%;
    border-radius: 16px;
}
.bigbox img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.bigbox p{
    margin-top: 50px;
    color: rgb(102, 102, 102);
    font-size: 1rem;
    font-weight: 500;
}
.bigbox button{
    position:absolute;
    border-radius: 48px;
    background: rgb(60, 216, 232);
    border: none;
    padding: 15px 18px;
    margin-top: -50px;
    margin-left: 60px;
}
.bigbox_text{
    margin-top: -3px;
    padding: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: rgb(255, 255, 255);
    
}
.smallboxes{
    max-width: 54%;
    /* align-items: center; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.smallbox{
    max-width: 300px;
    background-color: white;
    border-radius: 16px;
}
.smallbox_text{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
}
.prl_btn{
    position:absolute;
    border-radius: 48px;
    background: rgb(93, 88, 240);
    border: none;
    padding: 12px 15px;
    margin-top: -25px;
    margin-left: 60px;
    color: white;
}

.smallbox img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* footer style */
footer{
    max-width: 1440px;
    background: rgb(1, 172, 253);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 100px 0px;
}
.overview{
    max-width: 400px;
    padding: 15px;
    
}
.logo_des{
    display: flex;
    align-items: center;
}
.logo_des img{
    width: 100%;
}
.logo_des h3{
    color: rgb(255, 255, 255);
    font-size: 2.65rem;
    font-weight: 700;
    margin: 0px;
}
.overview p{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 10px;
}
.about h5{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 45px;
}
.about li{
    list-style: none;
    padding: 10px;
}
.about li a{
    text-decoration: none;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
}

.social h5{
    font-size: 1.625rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}





@media screen and (max-width: 576px) {
    
    nav{
        border-bottom: 1px solid rgb(254, 163, 1);
        padding-bottom: 20px;
        
    }
    #school_logo_text{
        display: none;
    }
    .menu{
        display: none;

    }
    .cnt_btn{
        display: none;
    }
    .ham_menu img{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }
    .banner_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner_text h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .banner_text p{
        text-align: center;
        font-size: 1rem;
    }
    .sect_title{
        
        font-size: 2rem;

    }
    .curriculum_details{
        flex-direction: column;
    }
    .cur_box1{
        max-width: 100%;
    }
    .cur_box2{
        max-width: 100%;
    }
    .cur_box3{
        max-width: 100%;
        margin-bottom: 50px;
    }
    .arrow_sign{
        display: none;
    }
    .bigbox{
        display: none;
    }
    .smallboxes{
        max-width: 100%;
        padding: 5px;
    }
    .cmn_btn{
        background: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 700;
        padding: 0.75rem 3rem;
        border: none;
        border-radius: 12px;
    }
    .grn_button{
        position:absolute;
        border-radius: 48px;
        background: rgb(149, 178, 38);
        border: none;
        padding: 12px 15px;
        margin-top: -1.55rem;
        margin-left: 1.5rem;
        font-size: 0.6rem;
        color: white;
    }
    .prl_btn{
        position:absolute;
        border-radius: 48px;
        background: rgb(93, 88, 240);
        border: none;
        padding: 12px 15px;
        margin-top: -1.55rem;
        margin-left: 1.5rem;
        font-size: 0.6rem;
        color: white;
    }
    .stories>button{
        margin-bottom: 40px;
    }
    .imgbox_container{
        margin-bottom: 20px;
    }
    footer{
        flex-direction: column;
        gap: 10px;
    }
    .social{
        padding: 20px;
    }
    
}